<!DOCTYPE html>
<header>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<nav class="navbar navbar-expand-sm bg-light">

    <div class="container-fluid">
      <!-- Links -->
      <a class="navbar-brand" href="">Labos 2</a>
      <ul class="navbar-nav">
        
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
      </ul>
    </div>
  
  </nav>

</header>

<body class="text-center">




<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

<h1 class="cover-heading">Odaberite vrstu napada</h1>
<div class="container bg-light text-dark">
    <button type="button" class="btn btn-warning btn-lg btn-block">XSS</button>
    <button type="button" class="btn btn-secondary btn-lg btn-block">Broken access control</button>

    <p>Vježba prikazuje dvije vrste napada, XSS i BAC. Klikom na gumb odabirete koji napad se izvodi. Svaka stranica ima upute za 
        izvođenje napada i opis, te smjernice za izvođenje.
    </p>
</div>
</div>
</body>
